#intro {
	padding: 350px 0px 350px 0px;
	/*background-image: url("http://cdn.wallpapersafari.com/92/61/Uu5mN9.jpg");*/
	background-image: url("../img/bluegrey1.jpg");
	background-size: cover;
	width: 100%;
	/* parallax */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

#name {
	padding-bottom: 15px;
}


.introText {
	color: white;
}

.aboutPadding {
	padding: 50px 0px 50px 0px;
	-webkit-transition: width 1.25s linear;
	-moz-transition: width 1.25s linear;
	-o-transition: width 1.25s linear;
	transition: width 1.25s linear;
}
