.introImg {
	padding: 350px 0px 350px 0px;
	/*background-image: url("http://cdn.wallpapersafari.com/92/61/Uu5mN9.jpg");*/
	background-image: url("../img/bluegrey2.jpg");
	background-size: cover;
	width: 100%;
	/* parallax */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%); 
  -o-filter: grayscale(40%); 
  -ms-filter: grayscale(40%); 
  filter: grayscale(40%); 
}

#name {
	padding-bottom: 15px;
}


.introText {
	color: white;
}

.addPadding {
	padding: 100px 0px 50px 0px;
	-webkit-transition: width 1.25s linear;
	-moz-transition: width 1.25s linear;
	-o-transition: width 1.25s linear;
	transition: width 1.25s linear;
}

