.contact-info-icon {
	font-size: 30px;
}

.contact-info-icon:hover {
	color: #2fc8eb; 
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.contact-info-text {
	margin-top: 15px;
}
