.contact-info-icon {
	font-size: 30px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.contact-info-icon:hover {
	color: #2fc8eb; 
}

.contact-info-text {
	margin-top: 15px;
}

.email-link {
	color: black;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.email-link:hover,
.email-link:focus {
	color: #2fc8eb;
	text-decoration: none;
}


.formPadding {
	padding-top: 75px;
}

textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #2fc8eb;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .5s top, .5s opacity;
	transition: .5s top, .5s opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
	box-shadow: none;
	transition: border-color 1s ease;
}
.form-control:focus {
	box-shadow: none;
	border-color: #2fc8eb;
}
.js-hide-label {
	opacity: 0; 
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
	border: 1px solid #2f323a;
	border-radius: 3px;
	color: #2f323a;
	font-size: 16px;
	line-height: inherit;
	margin: 30px 0;
	padding: 10px 50px;
	text-transform: uppercase;
	transition: all 0.5s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #2fc8eb;
	color: #2fc8eb;
}

.error {
	color: red;
}
