@media (min-width: 1150px) and (max-width: 1350px) {
	.container-fluid {
		max-width: 1000px !important;
	}

	#aboutText {
	}
}

@media (min-width 992px) {
	.navLeft {
		padding-right: 130px;
	}
	.navRight {
		padding-left: 130px;
	}
}

/* collapse navbar earlier */
@media (min-width: 933px) and (max-width: 992px) {
	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.navbar-header {
		float: none;
		padding: 0px 0px 6px 0px;
	}
}

@media (min-width: 803px) and (max-width: 933px) {
	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.navbar-header {
		float: none;
	}
	.navLeft {
		padding-right: 0px;
	}
	.navRight {
		padding-left: 0px !important;
	}
}

@media (min-width: 768px) and (max-width: 803px) {
	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.navbar-header .collapse, .navbar-toggle {
		display: block !important;
	}

	.navbar-header {
		float: none;
	}

	.navLeft {
		padding-right: 0px !important;
	}
	.navRight {
		padding-left: 0px !important;
	}

	.scrollFunc {
		padding-bottom: 8px !important;
	}
}

@media (max-width: 768px) {
	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.navbar-header .collapse, .navbar-toggle {
		display: block !important;
	}

	.navbar-header {
		float: none;
	}

	.navLeft {
		padding-right: 0px !important;
	}
	.navRight {
		padding-left: 0px !important;
	}

	.scrollFunc {
		padding-bottom: 8px !important;
	}
	
	.text-left {
		text-align: left;
	}

	.navbar .navbar-nav {
			display: block !important;
			overflow-y: hidden;
			float: none;
	}

	.nav-about-active {
		border: 0px !important;
	}

	.nav-projects-active {
		border: 0px !important;
	}

	.nav-contact-active {
		border: 0px !important;
	}

	.circle-effect a::before,
	.circle-effect a::after {
		border: 0px solid rgba(255,255,255,0.3) !important;
	}

	.circle-effect a::after {
		border-width: 0px !important;
	}

}

@media (max-width: 991px) {
	#selfie img {
		padding: 0 75px;
		width: 100%;
		height: auto;
	}

	#aboutText p {
		padding: 20px 60px;
		width: 100%;
	}

	.iconMargin {
		padding: 0px 100px;
	}

	#projects {
		column-count: 1 !important;
		padding: 0px 50px;
	}
}
