html, body{
	font-size: 16px;
	font-family: Ubuntu;
	overflow-x: hidden;
}

.container-fluid {
	max-width: 1200px !important;
}

#wrapper {
	background: #fff;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.subtitle {
	background: #b0bec5;
	box-shadow: 0px 3px 5px #263238;
	padding: 10px;
	font-size: 24px;
	margin: 30px;
}

