html, body{
	font-size: 16px;
	font-family: Ubuntu;
	overflow-x: hidden;
}

.container-fluid {
	max-width: 1200px !important;
}

#wrapper {
	background: #fff;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.subtitle {
	font-size: 24px;
	padding-top: 150px;
}

hr {
	width: 50px;
	height: 1px;
	border: 0;
	background-color: #1e1e1e;
}

.navSubtitle {
	background: #b0bec5;
	box-shadow: 0px 3px 5px #263238;
	padding: 10px;
	font-size: 24px;
}

.top-of-page a {
	text-decoration: none;
}

.top-of-page {
	display: inline-block;
	width: 80px;
	background-color: rgba(69,90,100,0.5);
	position: fixed;
	bottom: 50px;
	right: 30px;
	padding: 10px 10px;
	z-index: 3;
	border-radius: 5%;
}

.top-of-page-icon {
	font-size: 50px;
	color: white;
	display: block;
	margin: auto;
}

section > h1,
div > h1 {
	margin: 0px;
}
.top-of-page-text {
	font-size: 13px;
	color: white;
}

.footer-wrapper {
	background-color: #263238;
}

.social {
	display: inline-block;
}
